n8n Gmail Label Automation.json
{
  "name": "n8n Gmail Label Automation (Template)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [-720, 272],
      "id": "gmail-trigger-node",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}{{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Category 1",
              "description": "Description for Category 1"
            },
            {
              "category": "Category 2",
              "description": "Description for Category 2"
            },
            {
              "category": "Category 3",
              "description": "Description for Category 3"
            }
          ]
        },
        "options": {
          "fallback": "discard",
          "systemPromptTemplate": "\"You are an expert text classifier. Analyze the user's text and determine its single, most appropriate category. Your entire response MUST be a single, valid JSON object. DO NOT include any markdown code fences (e.g., ```json) or any explanatory text. DO NOT include the JSON Schema definition. Based on the provided schema, exactly one field must be set to true, and all others must be set to false. Categories: Category 1, Category 2, Category 3, fallback.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [112, 688],
      "id": "text-classifier-node",
      "name": "Text Classifier",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "YOUR_LABEL_ID_1"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [784, 304],
      "id": "label-node-1",
      "name": "Label Category 1",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "YOUR_LABEL_ID_2"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [784, 528],
      "id": "label-node-2",
      "name": "Label Category 2",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "YOUR_LABEL_ID_3"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [784, 736],
      "id": "label-node-3",
      "name": "Label Category 3",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Label Category 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label Category 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label Category 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "UTC"
  }
}
